<header>
  <nav>
    <img src="img/logo.svg" alt="">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<main>
  <form class="" action="" method="post">
    <div class="music">
      <input type="text" name="cover" placeholder="Youre cover URL" value="">
      <input type="text" name="name" placeholder="Name" value="">
      <input type="text" name="producer" placeholder="Producer" value="">
      <input type="text" name="bpm" placeholder="BPM" value="">
      <input type="text" name="tonality" placeholder="Tonality" value="">
    </div>
    <div class="soft">
      <p>Software :</p>
      <select name="software">
        {{#each software}}
          <option>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="list">
      <div class="vst">
        <p>vst n°1:</p>
        <select name="vst">
          {{#each vst}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>vst n°2:</p>
        <select name="vst">
          {{#each vst}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>vst n°3:</p>
        <select name="vst">
          {{#each vst}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>vst n°4:</p>
        <select name="vst">
          {{#each vst}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="hard">
        <p>hardware n°1:</p>
        <select name="hardware">
          {{#each hardware}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>hardware n°2:</p>
        <select name="hardware">
          {{#each hardware}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>hardware n°3:</p>
        <select name="hardware">
          {{#each hardware}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
        <p>hardware n°4:</p>
        <select name="hardware">
          {{#each hardware}}
            <option>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="process">
      <h2>Your <img src="img/logo.svg" alt=""></h2>
      <textarea name="process" placeholder="Your process"></textarea>
    </div>
    <div class="submit">
      <input type="submit" name="submit" value="Submit">
    </div>
  </form>
</main>

<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal information</a></p>
  </div>
</footer>
