<header>
  <nav>
    <img src="img/logo.svg" alt="">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<main>

  <section class="music">
    <div class="cover">
      <div class="img_info">
        <img src="{{music.cover}}" alt="">
      </div>
      <div>
        <h1>{{music.name}}</h1>
        <h2>{{music.producer}}</h2>
        <p>{{music.date}}</p>
      </div>
    </div>
    <div class="info_info">
      <p class="">{{music.bpm}}</p>
      <p>{{music.tonality}}</p>
    </div>
  </section>

  <section class="software">
    <div class="soft_img">
      <img src="{{software.img}}" alt="">
    </div>
    <div class="soft_info">
      <h2>{{software.name}}</h2>
      <p>{{software.description}}</p>
    </div>
  </section>

  <section class="vst">
    {{#each music}}
      <div class="vst_item">
        <div class="vst_a">
          <img src="{{this.img}}" alt="">
          <p class="title">{{this.vst}}</p>
        </div>
      </div>
    {{/each}}
  </section>

  <section class="hardware">
    {{#each hardware}}
      <div class="hardware_item">
        <img src="{{this.img}}" alt="">
        <p class="title">{{this.name}}</p>
      </div>
    {{/each}}
  </section>

  <div class="fx"></div>

  <section class="process">
    <p>{{music.process}}</p>
  </section>
</main>

<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal information</a></p>
  </div>
</footer>
