<header>
  <nav>
    <img src="/img/logo.svg" alt="logo">
    <ul>
      <li><a href="/">Home</a>
        <a href="/delete/{{music.id}}">delete</a>
      </li>
    </ul>
  </nav>
</header>

<main>


    <div class="base">
      <div class="base-infos">
        <div class="cover">
          <img src="{{music.cover}}" alt="">
        </div>
        <div class="text">
          <h1>{{music.producer}}</h1>
          <h2>{{music.name}}</h2>
          <p>{{music.bpm}} BPM</p>
          <p>{{music.tonality}}</p>
        </div>
      </div>
      <div class="process">
        <h3>Process</h3>
        <p>{{music.description}}</p>
      </div>
    </div>

<div class="line_yellow"></div>


   <h3>{{music.software.name}}</h3>
    <div class="software">
      <div class="picture">
        <img src="{{music.software.img}}" alt="">
        <p class="desc">{{music.software.description}}</p>
      </div>
    </div>


<div class="vst">
  <h3>Vst</h3>

    <div class="item">
      <p>{{music.vst_1.name}}</p>
      <img src="{{music.vst_1.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.vst_2.name}}</p>
      <img src="{{music.vst_2.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.vst_3.name}}</p>
      <img src="{{music.vst_3.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.vst_4.name}}</p>
      <img src="{{music.vst_4.img}}" alt="">
    </div>

</div>

<div class="hardware">
  <h3>Hardware</h3>

    <div class="item">
      <p>{{music.hardware_1.name}}</p>
      <img src="{{music.hardware_1.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.hardware_2.name}}</p>
      <img src="{{music.hardware_2.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.hardware_3.name}}</p>
      <img src="{{music.hardware_3.img}}" alt="">
    </div>

    <div class="item">
      <p>{{music.hardware_4.name}}</p>
      <img src="{{music.hardware_4.img}}" alt="">
    </div>

</div>

</main>

<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="/img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="/img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal information</a></p>
  </div>
</footer>
